@font-face{
    font-family: "pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face{
    font-family: "playfair";
    src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face{
    font-family: "playfair italic";
    src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "chocolate";
    src: url(../fonts/ChocolateClassicalSans-Regular.ttf);
}

@font-face {
    font-family: "dancingScript";
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../pictures/background2.jpg") repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-page>.header-text{
    font-family: "pacifico";
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    color: rgb(233, 213, 213);
    text-shadow: 5px 3px 10px black;
}

.header nav{
    background-color: rgba(5, 59, 39, 0.726);
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    /* margin-right: 20px; */
    height: 6.5vh;
    align-items: center;
    padding-right: 20px;
}

button{
    background: none;
    font-size: 1.5rem;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.main-page{
    display: flex;
    flex-direction: column;
}

.welcome-message{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(163, 135, 135);
    /* text-shadow: 3px 3px 5px grey; */
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 50px;
    margin-top: 80px;
    max-width: 40vw;
    align-self: flex-end;
    padding: 20px;
    font-family: "playfair";
    letter-spacing: 1px;
}



#pastaImage{
    margin: 0;
    object-fit: cover;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    position: absolute;

    margin-left: 10vw;
    margin-bottom: 10vh;
    box-shadow: 3px 5px 10px 5px;
    animation: slideInFromBottom 0.5s ease-in forwards;
}

#pizzaImage{
    object-fit: cover;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
    margin-top: 40px;
    box-shadow: 5px 3px 10px 4px;
    animation: slideInFromLeft 1s ease-in forwards;
}

@keyframes slideInFromLeft{
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slideInFromBottom{
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes slideInFromRight{
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

#saladImage{
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    margin-left: 83vw;
    margin-right: 30px;
    margin-top: 40px;
    box-shadow: 2px 5px 6px 3px;
    animation: slideInFromRight 0.5s ease-in forwards;
}

#capreseImage{
    object-fit: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    position: absolute;
    margin-left: 35vw;
    margin-top: 20vh;
    box-shadow: 1px 3px 10px 2px;
    animation: slideInFromLeft 0.9s ease-in forwards;
}

.welcome-message em{
    font-family: "playfair italic";
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
}

.menu>*{
    background-color: white;
    border-radius: 15px;
    border: 2px solid red;
}

ul{
    padding: 0;
}

.menu img{
    margin-right: 10px;
}
.menu img:hover{
    transform: scale(1.15);
}

#pizzaImage:hover, #pastaImage:hover, #saladImage:hover, #capreseImage:hover{
    transform: scale(1.05);
}

body h3{
    text-align: center;
    font-family: "pacifico";
    letter-spacing: 5px;
    text-decoration: underline;
}

.section:hover{
    box-shadow: 0px 0px 7px white;
}

.section:last-child{
    margin-top: 0;
}

#back img{
    /* filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(242deg) brightness(107%) contrast(108%); */
    background: rgba(166, 255, 148, 0.541);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    left: 90vw;
    top: 85vh;
    visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
    font-size: 1rem;
}

dialog[open]{
    opacity: 1;
    box-shadow: 20px;
    border: 2px double grey;
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center
}

.contactLogo{
    width: 30px;
}

a{
    text-decoration: none;

}

a:visited{
    color: blue;
}

.stuffImage{
    object-fit: fit;
    width: 600px;
    /* height: 500px; */
}

.about{
    font-family: "dancingScript";
}